@import "variables";
@import "mixins";
@import "../node_modules/prismjs/themes/prism.css";

/* =GLOBAL
------------------------------------------------------- */

body
{
	color: $base-text-color;
    font-family: $base-font-stack;
    margin: 0;
}

.container
{
    margin: 0 auto;
    max-width: $max-container-width;
}

a
{
    color: $link-color;
    transition-duration: 0.5s;
    transition-property: color;
}

h1, h2, h3, h4, h5, h6
{
    font-family: $header-font-stack;
    font-weight: 900;
}

h2 a
{
    text-decoration: none;
}

a:hover, a:visited
{
    color: $link-color;
}

.btn, a.btn
{
    background: $button-color;
    border: none;
    color: $button-text-color;
    display: inline-block;
    font-family: $button-font-stack;
    padding: 0.4em 0.5em;
    text-decoration: none;
}

.btn:hover
{
    background: $button-hover-color;
}

.btn-wrapper
{
    display: block;
}

.error
{
    color: $error-color;
}

.hidden
{
    display: block;
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
}

img
{
    height: auto;
    max-width: 100%;
}

p
{
  margin: 2em 0;
}

/* =GLOBAL-FORM
------------------------------------------------------- */

label
{
    display: block;
    padding-bottom: 0.25em;
    font-weight: bold;
}

form
{
    ul
    {
        list-style: none;
        @include reset();
    }

    li
    {
        margin-bottom: 1em;
    }

    input, textarea
    {
        border: 1px solid $form-border-color;
        font-family: $form-font-stack;
        font-size: 1em;
        padding: 2%;
        transition-property: border-color;
        transition-duration: 0.3s;
        width: 95%;

        &:focus
        {
            border-color: $form-border-color-active;
            outline: none;
        }
    }

    textarea
    {
        height: 150px;
    }

    input.submit-btn
    {
        cursor: pointer;
        font-size: 1.5em;
        width: 100%;
    }
}

/* =HEADER
------------------------------------------------------- */

.header-wrapper
{
    overflow: auto;
    position: relative;

    header
    {
        margin: 0 auto;
        max-width: 22em;
        width: 65%;

        div.logo
        {
            background-color: $primary-color;
            margin: 0 auto;
            overflow: hidden;
            padding-bottom: 50%;
            position: relative;
            width: 80%;

            a
            {
                font-size: 0;
                height: 100%;
                position: absolute;
                text-indent: -200%;
                width: 100%;
                z-index: 1;
            }

            a::before, a::after, &::before, &::after
            {
                background: $background-color;
                content: '';
                display: block;
                opacity: 0.5;
                position: absolute;
                transition: opacity 0.2s;
            }

            /* White space block that forms the "L" */
            a::before
            {
                height: 80%;
                left: 15%;
                top: 0;

                /* 30% actual width + 15% of space between the "L" and "F" to avoid tears */
                width: 45%;
            }

            /* White space block between the "L" and "F" */
            a::after
            {
                height: 100%;
                left: 45%;
                top: 0;
                width: 15%;
            }

            /* White space block that forms the upper part of the "F" */
            &::before
            {
                height: 20%;
                left: 75%;
                top: 20%;
                width: 30%;
            }

            /* White space block that forms the bottom part of the "F" */
            &::after
            {
                /* 40% actual height + 10% beyond the bottom to avoid tears */
                height: 50%;

                left: 75%;
                top: 60%;
                width: 30%;
            }

            &:hover
            {
              a::before, a::after, &::before, &::after
              {
                  opacity: 0.8;
              }
            }
        }
    }
}

@media (min-width: 32em)
{
  .header-wrapper header
  {
    margin: 0;
    width: 60%;
  }
}

/* =NAVIGATION
------------------------------------------------------- */

nav
{
	font-family: $nav-font-stack;
	font-size: 1.5em;
  font-weight: 900;
	margin: 10% 0 15%;
  overflow: auto;

    ul
    {
        @include reset();
    }

    li
    {
        float: left;
        text-align: center;
        width: 50%;

        &.selected a
        {
          border-bottom: 5px solid $nav-selected-color;
          color: $nav-selected-color;
        }
    }

    a
    {
        border-width: 0 0 3px 0;
        color: $nav-text-color;
        display: inline-block;
        padding-bottom: 3%;
        text-align: center;
        text-decoration: none;

        &:hover, &:visited
        {
          color: $nav-text-color;
        }
    }
}

@media (min-width: 25em)
{
    nav
    {
        font-size: 2.25em;
    }
}

@media (min-width: 32em)
{
  nav
  {
    margin-top: 1.75em;
  }

  nav li
  {
    max-width: 4em;
    width: 25%;
  }
}

/* =MAIN
------------------------------------------------------- */

main
{
    display: block;
    font-size: 1.5em;
    margin: 1em 0;
    overflow: hidden;
    padding: 0 5%;

    h1
    {
        font-size: 2.5em;
        font-weight: 900;
        margin: 0 0 0.25em;
    }

    section
    {
        margin-bottom: 2em;
    }
}

@media (min-width: 43em)
{
    main
    {
        margin-top: 2em;
        padding: 0 2.5%;
    }
}

/* =BLOG-POST
------------------------------------------------------- */

.post
{
    font-size: 0.7em;

    h1 a
    {
        color: $base-text-color;
        text-decoration: none;
    }

    h2
    {
      font-size: 2em;
      margin-bottom: 0.5em;
    }

    h2, h3, h4, h5, h6
    {
        margin-top: 1em;
    }

    footer
    {
        margin: 2em 0 1em;
        overflow: auto;
        padding: 1em 0 0.8em;
    }

    .taxonomy
    {
        display: block;
        margin-bottom: 1.5em;

        span
        {
            display: block;
            margin: 1em 0;
        }

        .category
        {
            font-weight: bold;
            margin-top: 0;
        }
    }

    .comments
    {
				h2
				{
					font-size: 2.5em;
				}

				h3
				{
					font-size: 2em;
				}

        ul
        {
            @include reset();
        }

        > ul > li
        {
            padding-top: 3em;
            border-bottom: 3px solid $border-color-secondary;
        }

        .comment-info
        {
            overflow: auto;
        }

        cite
        {
            display: block;
            font-size: 1.3em;
            font-style: normal;
            font-weight: bold;
            line-height: 1em;
        }

        .comment-date
        {
            display: block;
            font-size: 1em;
            margin-top: 0.5em;
            text-decoration: none;
        }

        .comment-body
        {
            margin-bottom: 3em;
        }
    }
}

.comment-text p
{
	margin: 1em 0;
}

.post-date
{
    color: $post-date-color;
    font-weight: bold;
}

/* =BLOG-POST-LIST
------------------------------------------------------- */

.post-list
{
    @include reset();

    li
    {
        margin-bottom: 1.5em;
    }

    .excerpt
    {
        font-size: 0.6em;
    }

    h2
    {
        margin-bottom: 0.5em;
    }
}

/* =BLOG-MEDIA-QUERIES
------------------------------------------------------- */

@media (min-width: 31em)
{
    .post, .post-list .excerpt
    {
        font-size: 0.7em;
    }

    .post-nav
    {
        .btn-wrapper
        {
            width: 48%;
        }

        .next
        {
            float: left;
        }

        .prev
        {
            float: right;
        }

        .prev .btn::before, .next .btn::before
        {
            top: 5%;
        }
    }

    .post .taxonomy
    {
        clear: both;
        font-size: 0.8em;
        margin-bottom: 1em;
        overflow: auto;

        span
        {
            margin: 0;
            width: 50%;
        }

        .category
        {
            float: left;
        }

        .tags
        {
            float: right;
            text-align: right;
        }
    }
}

@media (min-width: 56em)
{
    .post, .post-list .excerpt
    {
        font-size: 0.9em;
    }

    .post
    {
        .comment-form
        {
            font-size: 0.9em;
        }

        .comments
        {
            .name-input-wrapper
            {
                float: left;
                width: 45%;
            }

            .email-input-wrapper
            {
                float: right;
                width: 45%;
            }
        }
    }
}

/* =CONTACT-US
------------------------------------------------------- */

.contact-form
{
    font-size: 0.8em;
}

@media (min-width: 43em)
{
    .contact-form
    {
        .name-input-wrapper, .email-input-wrapper
        {
            float: left;
            width: 45%;
        }

        .name-input-wrapper
        {
            margin-right: 7%;
        }

        .name-input-wrapper input, .email-input-wrapper input
        {
            padding: 4%;
        }
    }
}

/* =ABOUT
------------------------------------------------------- */

.skill-list
{
    @include reset();
    margin: 0 0 0 1em;

    li
    {
        margin-bottom: 0.25em;
    }

    abbr
    {
        border: 0;
    }
}

@media (min-width: 31em)
{
    .skill-list
    {
        font-size: 0.9em;
        margin: 0;
        overflow: auto;
        width: 100%;

        li
        {
            float: left;
            margin-right: 5%;
            width: 45%;
        }
    }
}

@media (min-width: 62em)
{
    .skill-list li
    {
        float: left;
        margin-right: 3%;
        width: 30%;
    }
}

/* =SPECIAL-CONTENT
------------------------------------------------------- */

pre[class*="language-"], blockquote
{
    background: $emph-background-color;
    border-left: 3px solid $emph-border-color;
    font-size: 0.9em;
    margin: 0;
    padding: 0.75em;
}

blockquote
{
  border-left: 5px solid $primary-color;
  margin: 1.5em 0.5em;
  padding: 0 0 0 1.5em;
}

/* =SOCIAL-MEDIA
------------------------------------------------------- */

.social-media-list
{
    @include reset();
    overflow: hidden;
    width: 100%;

    li
    {
        float: left;
        width: 20%;
    }

    a::after
    {
        text-align: center;
    }

    .twitter::after
    {
        content: "\f099";
    }

    .facebook::after
    {
        content: "\f082";
    }

    .instagram::after
    {
        content: "\f16d";
    }

    .github::after
    {
        content: "\f09b";
    }

    .linkedin::after
    {
        content: "\f08c";
    }

    .rss::after
    {
      content: "\f143";
    }

    .email
    {
      margin-top: -0.8em;
    }

    .email::after
    {
      content: "\f003";
    }
}

@media (min-width: 28em)
{
    .social-media-list
    {
        margin: 0 auto;
        width: 70%;
    }
}

@media (min-width: 43em)
{
    .social-media-list
    {
        float: right;
        font-size: 0.9em;
        margin: 5% 5% 0 0;
        width: 40%;

        a::after
        {
            text-align: center;
        }
    }
}

@media (min-width: 45em)
{
  .social-media-list
  {
    font-size: 1em;
  }
}

/* =PRINT
------------------------------------------------------- */

@media print
{
  .header-wrapper, .post-nav, .comment-form
  {
    display: none;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }
}

/* =PORTFOLIO
------------------------------------------------------- */

.portfolio-feature
{
    margin-bottom: 3em;
}

.portfolio-feature p
{
    margin-top: 1em;
}

.portfolio-feature a img
{
    transition: transform 0.2s;
}

.portfolio-feature a img:hover
{
    transform: scale(1.025);
}